body {
    margin: 0px;
}
a {
    color: #00909E;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 5px solid #142850;
    margin: 0px;
    padding: 20px;
}
h2 {
    font-size: 32px;
}
p {
    margin-bottom: 25px;
}


#logo {
    padding-right: 10px;
}
#article {
    padding-left: 10px;
}
#footage {
    font-size: 12px;
    vertical-align: super;
}

.grid {
    
}
.grid .leftContents {
    padding-left: 1px;
}

.wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 35px 0px;
    grid-template-areas:
    "header header header"
    "leftCol mid rightCol";
    grid-gap: 5px;
   }
.wrapper .header{
    grid-area: header;
    padding: 5px;
    background-color: #DAE1E7 ;
}
.wrapper .leftCol{
    grid-area: leftCol;
    padding: 5px;
    background-color: #00909E;
}
.wrapper .mid{
    grid-area: mid;
    padding: 5px;
    background-color: #035AA6;
}
.wrapper .rightCol{
    grid-area: rightCol;
    padding: 5px;
    background-color: #27496D;
}

.boxMain {
    max-width: 150px;
    height: auto;
    padding: 20px;
    border: 3px solid #142850;
    margin-bottom: 25px;
    /*box-sizing: content-box;*/
}
.boxMain .boxTitle {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.boxMain .boxElement {
    padding: none;
}
.boxMain .boxElementSub {
    padding-left: 10px;
}

scrollContainer {
    display: block;
    margin: 0 auto;
}
scrollContainer {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
scrollPage {
    display: flex;
    align-items: Top;
    height: 100%;
}

.listMain {

}
.listMain .listContents {
    font-size: 25px;
    font-weight: bold;
    color: #142850;
    padding-bottom: 1px;
    border-bottom: 1px solid #142850;
}
.listMain .relatedDocument {
    padding-left: 20px;
}

a.footnote {
    cursor: help;
    position: relative;
    text-decoration: none!important;
    color: #666;
    text-indent: 0
}
.footnote sup {
    color: #00909E;
}
.footnote span.note {
    margin-left: -999em;
    position: absolute;
    padding: 10px;
    background: white;
    border: 1px solid #142850;
    text-align: left;
    line-height: 1.3em
}
.footnote:hover span.note {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: -107px;
    bottom: 2.5em;
    z-index: 99;
    width: 200px
}
.note_ttl {
    display: block;
    width: 100%;
    margin: 0 auto 3px auto;
    padding-bottom: 2px;
    text-align: left;
    color: #00909E;
}
div.footnote_desc {
    /*border-top: 1px solid #ccc;*/
    padding-top: 10px;
    padding-bottom: 25px;
}
.footnote:hover span.note:before {
    content:"";
    position: absolute;
    bottom: -6px;
    left: 105px;
    border-width: 6px 6px 0;
    border-style: solid;
    border-color: #142850 transparent;
    display: block;
    width: 0;
    z-index: 100
}
.footnote:hover span.note:after {
    content:"";
    position: absolute;
    bottom: -7px;
    left: 104px;
    border-width: 7px 7px 0;
    border-style: solid;
    border-color: #142850 transparent;
    display: block;
    width: 0
}

@media (max-width: 700px) {
    .grid {
        display: block;
        
    }
    .wrapper {
        overflow: auto;
    }
}